.Input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 4px;
    flex-grow: 1;
}

.SubmitButton {
    background: none;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.SubmitButton:hover {
    background: #ddd;
}

.Symbol {
    width: 30px;
}
